{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.0.0"}}},
    {epgsql , {git , "https://github.com/epgsql/epgsql.git", {tag, "4.6.0"}}},
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
    {meck, {git, "git://github.com/eproxus/meck.git", {tag, "0.9.2"}}},
    {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.9.1"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [github_webhook_service]}
]}.
