{erl_opts, [debug_info]}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.0.0"}}},
    {epgsql , {git , "https://github.com/epgsql/epgsql.git", {tag, "4.6.0"}}},
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [github_webhook_service]}
]}.
